# SPDX-FileCopyrightText: (C) 2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0
---

## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry and imagePullSecrets
##

## @param global.registry.name Global Docker image registry
## @param global.registry.imagePullSecrets Global Docker registry secret names as an array
##
global:
  registry:
    name: registry-rs.edgeorchestration.intel.com/edge-orch
    ## E.g.
    ## imagePullSecrets:
    ##   - myRegistryKeySecretName
    ##
    imagePullSecrets: []

## @section App Service-Proxy image parameters
##

## @param image.registry.name App Service-Proxy Docker image registry
## @param image.registry.imagePullSecrets App Service-Proxy Docker registry secret names as an array
## @param image.repository App Service-Proxy image repository
## @param image.pullPolicy App Service-Proxy image pull policy
## @skip image.tag App Service-Proxy image tag (immutable tags are recommended)
image:
  registry:
    name: registry-rs.edgeorchestration.intel.com/edge-orch
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    imagePullSecrets: []
  repository: app/app-service-proxy
  ## Specify a imagePullPolicy
  ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images
  ##
  pullPolicy: IfNotPresent
  #tag:

## @section Common parameters
##

## @param nameOverride String to partially override common.names.fullname template (will maintain the release name)
##
nameOverride: ""

## @param fullnameOverride String to fully override common.names.fullname template
##
fullnameOverride: ""

## @param replicaCount Number of App Service-Proxy replicas to deploy
##
replicaCount: 1

## @param podLabels Extra labels for App Service-Proxy pod
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
##
podLabels: {}

## @param podAnnotations Annotations for App Service-Proxy pod
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
##
podAnnotations: {}

## App Service-Proxy containers' resource requests and limits
## ref: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
## @param resources.limits The resources limits for the App Service-Proxy containers
## @param resources.requests.memory The requested memory for the App Service-Proxy containers
## @param resources.requests.cpu The requested cpu for the App Service-Proxy containers
##
resources:
  limits:
    cpu: 1
    memory: 512Mi
  requests:
    cpu: 10m
    memory: 128Mi

## Configure Pods Security Context
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
podSecurityContext:
  #runAsGroup:
  runAsUser: 65532
  runAsNonRoot: true

## Configure Container Security Context (only main container)
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  seccompProfile:
    type: RuntimeDefault
  capabilities:
    drop:
      - "ALL"

## App Service-Proxy Service Account
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  ## @param serviceAccount.create Enable creation of ServiceAccount for App Service-Proxy pod
  ##
  create: false
  name: orch-svc

## @section Traffic Exposure Parameters
##

service:
  ## App Service-Proxy service parameters
  ##
  ## @param service.apiProxy.type App Service-Proxy service type
  ## @param service.apiProxy.port App Service-Proxy service HTTP port
  ##
  apiProxy:
    type: ClusterIP
    port: 8123
  ## App Service-Proxy service parameters
  ##
  ## @param service.opa.enabled True to expose the OPA REST API to the public
  ## @param service.opa.type OPA REST API service type.
  ## #param service.opa.port OPA REST API service port.
  opa:
    enabled: true
    type: ClusterIP
    port: 8111

## Configure the ingress resource that allows you to access the App Service-Proxy installation
## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
##
ingress:
  ## @param ingress.enabled Enable ingress record generation for App Service-Proxy
  ##
  enabled: false

## @section RBAC Parameters
##

# enable authentication via the M2M token
useM2MToken: true

openpolicyagent:
  ## @param openpolicyagent.image Name of the openpolicyagent image.
  ## @param openpolicyagent.tag Name of the openpolicy image tag.
  enabled: true
  image: openpolicyagent/opa
  tag: 1.10.0-envoy-static
  loglevel: info
  port: 8181

rbac:
  create: true

conf:
  apiPositionInUrl: 5
  backendScheme: http
  backendAuthType: insecure
  maxBodySizeBytesLimit: 100

## @section Taefik Parameters
##

## traefik defines params for external access to services in a cluster using Traefik reverse proxy.
traefik:
  ## @param traefik.enabled A switch to turn on/off the Traefik reverse proxy resource.
  ## @param traefik.gatewayNamespace Specifies namespace of Traefik and related resources (e.g. k8s secret or tls option).
  ## @param traefik.secretName The name of k8s secret containing TLS server cert.
  ## @param traefik.matchRoute Defines routing rules (e.g. Host(`http.sample.com`))
  ## @param traefik.tlsOption The name of the Traefik option for handling TLS or mTLS connections.
  enabled: false
  gatewayNamespace: gateway-system
  secretName: tls-demo
  matchRoute: Host(`app-service-proxy.kind.internal`)
  matchRouteSrc: Host(`app-service-proxy.kind.internal`) && PathPrefix(`/app-service-proxy`)
  tlsOption: gateway-tls

traefikApiGroup: "traefik.containo.us/v1alpha1"

## @section OIDC Parameters
##

openidc:
  ## @param openidc.issuer The endpoint of a Keycloak Realm e.g. http://keycloak/realms/master
  issuer: "http://platform-keycloak.orch-platform.svc/realms/master"
  insecureSkipVerify: false

# Application-wide log level. Must be a valid logrus log level string.
logLevel: "debug"

admAddress: app-deployment-api-grpc-server:8080
ccgAddress: cluster-connect-gateway.orch-cluster.svc:8080
admRateLimiter:
  qps: 30
  burst: 2000
