# SPDX-FileCopyrightText: (C) 2023 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# jetbrains
/vendor/
out/*
/build/_output/*
kind.config.yaml
/cover.out
/coverage.xml
/coverage.html
bin
internal/northbound/testdata/*
venv_app-service-proxy
vendor
*.log
workspace

*.lock
*.tgz

testdata
