---
# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

name: Post-Merge App Deployment Manager NB API

on:
  push:
    branches:
      - main
      - release-*
    paths:
      - 'app-deployment-manager/api/nbi/**'
  workflow_dispatch:

permissions: {}

jobs:
  post-merge-pipeline:
    permissions:
      contents: read
      security-events: write
      id-token: write
    uses: open-edge-platform/orch-ci/.github/workflows/post-merge.yml@50452868e1a7850e3f76e9247e6b6e436a9980e1  # 0.1.61
    with:
      run_version_check: false
      run_dep_version_check: false
      run_build: false
      run_docker_build: false
      run_docker_push: false
      run_version_tag: true
      run_helm_build: false
      run_helm_push: false
      prefix_tag_separator: "/v"
      project_folder: "app-deployment-manager/api/nbi"
    secrets:
      SYS_ORCH_GITHUB: ${{ secrets.SYS_ORCH_GITHUB }}
      NO_AUTH_ECR_PUSH_USERNAME: ${{ secrets.NO_AUTH_ECR_PUSH_USERNAME }}
      NO_AUTH_ECR_PUSH_PASSWD: ${{ secrets.NO_AUTH_ECR_PUSH_PASSWD }}
      MSTEAMS_WEBHOOK: ${{ secrets.TEAMS_WEBHOOK }}
